input[type="email"] {
  padding-left: 1.5rem; /* Adjusted to match icon position */
}


input[type="password"] {
  padding-left: 1.5rem; /* Adjusted to match icon position */
}

.email-ic {
    left: 0.3rem;
}

.pass-ic {
    left: 0.3rem;
}